*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans Kawi', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
font-family: 'Noto Sans Kawi', sans-serif;
font-family: 'Poppins', sans-serif;


}
body{
    
    height: 100vh;
    background: rgb(46,46,46);
    background: linear-gradient(90deg, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);

}
.navbar{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: -80px;
   background: rgb(46,46,46);
    background: linear-gradient(90deg, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    z-index: 1;
}
#logo{
    width: 100px;
    height: 100px;
  
}
#logo img{
    width: 106px;
    height: 70px;
    display: inline-block;
    margin-top: 18px;
    align-self: flex-start;
    cursor: pointer;
    position: absolute;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-top: 8x;
    transition: color 0.3s;
}
.navbar a:hover{
    color: yellow;
}


.navbar a button{
    font-size: 15px;
    margin-right: 20px;
    border-radius: 15px;
    width: 90px;
    text-align: center;
    margin-bottom: 3px;
    border: 0px;
    padding-bottom: 2px;
    background-color: yellow;
    border: 2px solid rgba(251 , 255 , 0);
}
.SearchBox{
    width: 440px;
    height: 35px;
    padding: 0px;
    border-radius: 20px;
    background-color:  rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    margin-left: -30px;
    
}
.searchicon{
    width: 100%;
    color: rgb(112, 111, 111);
    margin-bottom: 4px;
    margin-right: 10px;
    
    
}

.SearchBox input{
    width: 400px;
  background: transparent;
  outline: 0px;
  border: 0px;
  text-align: center;
  font-size: 15px;
}
.Main{
    width: 100%;
    height: 300px;
    color: white;
    font-size: 50px;
    font-weight: 600;
    justify-content: flex-start;
    align-items: center;
   margin-top: 80px;
    left: 30px;
    display: flex;
}
.Main h8{
    margin-top: 120px;
    margin-left: 40px;
    margin-bottom: 0px;
}
span{
    color: yellow;
}
.musiclogo{
    display: inline-block;
}
.musiclogo img{
    width: 330px;
    height:321px;
    margin-left: 90px;
    margin-top: 200px;
    border-radius: 200px;
    animation: headphoneAnimation 1.3s infinite alternate;
    transition: box-shadow 1s;
}
.musiclogo img:hover {
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
}
@keyframes headphoneAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-16px);
    }
  }
.Tick{
    width: 65%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-left: -25px;
}
.Tick b{
    font-weight:500;
    color: rgb(90, 90, 90);
    font-size: 18px;
}
.tickcolor{
    color: yellow;
    padding-top: 4px;
    padding-left: 40px;
}
.Attribute{
    width: 100%;
    height: 150px;
    position: relative;
    display: flex;
    
}
.Attribute #Music-List{
    color: white;
    font-size: 23px;
    font-weight: 600;
    margin-top: 100px;
    padding-left: 20px;
    position: absolute;
}
.paragrpah{
    height: 30px;
    color: rgb(153, 153, 153);
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    display: inline-block;
}
.paragrpah p{
    height: 100px;   
}
.images{
    width: 100%;
    height: 420px;
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   row-gap: 19px;
   justify-content: space-evenly;
   z-index: 0;
}
.images img{
   border-radius: 15px;
   height: 200px;
   width: 230px;
   z-index: 0;
   box-shadow: 0px 0px 10px rgb(0, 0, 0); 
}
.png{
    position: relative;
}
.Text{
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: 400;
}
article{
width: 100%;
height: 700px;
}
.Reccomend{
    height: 130px;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background 1s;
}
.trend h5{
    font-weight: 700;
    font-size: 30px;
    color: rgb(146, 146, 146);
    letter-spacing: 1px;
    margin-top: 140px;
    transition: color 0.5s;
}
.trend h5:hover{
color: white;
}
.music{
    height: 500px;
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   row-gap: 10px;
    justify-content: space-evenly;
}
.iteam img{
    width: 180px;
    height: 180px;
    align-content: center;
    margin-left: 36px;
    border-radius: 18px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0); 
    transition:1s;
}
.iteam img:hover{
    transform: scale(1.2);
   opacity: 1;
}
.text{
    color: wheat;
    padding-left: 75px;
    margin-top: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.5s;
}
.text:hover{
    color: yellow;
}
.more{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-top: 30px;
}
.btn button{
    color: rgb(0, 0, 0);
    background-color: rgb(251, 255, 0);
    outline: 0px;
    border: 2px solid rgba(251 , 255 , 0);
    border-radius: 14px;
    transition: color 0.5s;
    font-size: 13px;
    width:100px;
    height: 30px;
    transition: all .3s ease;
    text-align: center;
    margin-top: 2px;
    cursor: pointer;
    font-weight: 500;

}
.btn button:hover{
    color:rgba(251 , 255 , 0);
    background: black;
    box-shadow: 0 0 1rem rgba(251 , 255 , 0);

}

.testimonials{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Kawi', sans-serif;
    font-weight: 1000;
    font-size: 37px;
    background: rgb(255,251,251);
    background: linear-gradient(90deg, rgba(255,251,251,1) 29%, rgba(139,137,137,1) 53%, rgba(0,0,0,1) 90%);
    -webkit-background-clip:text;
    color: transparent;
}


/* Adding The Bento Grid Style */

.bento{
    margin-top: 50px;
    height: 610px;
    display: grid;
    grid-template-areas: "nav nav gap lol lol"
                         "gop pop doo fax tax"
                         "danix danix papa mummi mummi";
    justify-content: center;
    column-gap: 20px;
   padding-bottom: -10px;
}
.bento1{
    height: 140px;
    width: 335px;
    border-radius: 19px;
    grid-area: nav;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.bento2{
    height: 140px;
    width: 350px;
    border-radius: 19px;
    grid-area: gap;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.bento3{
    height: 140px;
    width: 335px;
    border-radius: 19px;
    grid-area: lol;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.bento4{
    height: 260px;
    width: 350px;
    border-radius: 19px;
    grid-area: doo;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.bento5{
    height: 260px;
    width: 155px;
    border-radius: 19px;
    grid-area: gop;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.bento6{
    height: 260px;
    width: 155px;
    border-radius: 19px;
    grid-area: pop;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.bento7{
    height: 260px;
    width: 155px;
    border-radius: 19px;
    grid-area: fax;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.bento8{
    height: 260px;
    width: 155px;
    border-radius: 19px;
    grid-area: tax;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.bento9{
    height: 140px;
    width: 340px;
    border-radius: 19px;
    grid-area: danix;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.bento10{
    height: 140px;
    width: 350px;
    border-radius: 19px;
    grid-area: papa;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.bento11{
    height: 140px;
    width: 340px;
    border-radius: 19px;
    grid-area: mummi;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
/* Adding The Icons Style >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.*/

#PLATFORMS{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: 'Noto Sans Kawi', sans-serif;
    font-weight: 1000;
    font-size: 35px;
    background: rgb(255,251,251);
    background: linear-gradient(90deg, rgba(255,251,251,1) 29%, rgba(139,137,137,1) 53%, rgba(0,0,0,1) 90%);
    -webkit-background-clip:text;
    color: transparent;
}

.platforms{
    height: 130px;
    width: 100%;
    position: relative;
    white-space: nowrap;
    display: grid;
    place-items: center;
    overflow: hidden;
}

/* <<<<<<<<<<<<<<<<<<<<<<<< Adding Icons Animation>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.platforms::before{
background: rgb(46,46,46);
background: linear-gradient(90deg, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0% , rgba(0, 0, 0, 0)100%);;        
content: '';
height: 100%;
width: 15%;
position: absolute;
z-index: 1;
}
.platforms::after{
background: rgb(46,46,46);
background: linear-gradient(to left, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 0%, rgba(16,17,17,1) 0% , rgba(0, 0, 0, 0)100%);;   
content: '';
height: 100%;
width: 20%;
position: absolute;
z-index: 1;
}
.platforms::before{
    left: 0;
    top: 0;
}
.platforms::after{
    right: 0;
    top: 0;
}
.platformslogo{
    width: calc(250px * 12);
    display: flex;
    margin-top: 20px;
    animation: slidelogo 16s linear infinite;
    position: relative;
    overflow: hidden;
    --offset: 3px;
    
}
@keyframes slidelogo {
0%{
transform: translateX(0);
}
100%{
    transform: translateX(calc(-250px*6));
}
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Setting Up The Images>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.platformslogo img{
margin-top: 7px;
width: 100%;
filter: grayscale(100%);
transition: 0.5s;
}
.platformslogo img:hover{
filter: none;
}

.platforms .slide img{
    width: 70%;
}
.slide{

height: 60px;
width: 350px;
display: flex;
justify-content: center;
align-items: center;
perspective: 100px;
z-index: 1;
}       
.slide1{
width: 180px;
}
.slide2{
width: 200px;
}
.slide3{
width: 60px;
}
.slide4{
width: 75px;
}
.slide5{
width: 170px;
}
.slide6{
width: 65px;
}

/* Setting Up The Packs */

.plan{
    height: 700px;
}
.Subscription{
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    color: rgb(131, 131, 131);
    transition: color .3s;
}
.Subscription:hover{
    color: white;
}
.Subscription h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}
.card{
margin-top: 70px;
height: 580px;
display: flex;
justify-content: space-evenly;
}
 /* Making The Colors in The Price Box */

.card1{  
margin-top: 70px;
height: 500px;
width: 300px;
border-radius: 16px;
display: flex;
text-align: center;
justify-content: space-around;
box-shadow: 0px 0px 10px black;
position: relative;
flex-direction: column;
color: black;
background-color: rgb(0, 0, 0);
transition: color 0.5s;
border: 2px solid rgba(251 , 255 , 0);
transition: all .3s ease;
cursor: pointer;
animation: pricebox 1.2s infinite alternate;
}
  /* Adding Hover Effect to card1  */
.card1:hover {
    box-shadow: 0px 0px 30px rgb(146, 146, 146);
}
@keyframes pricebox {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-16px);
    }
  }
.card1 h1{
    padding-top: 20px;
    color: white;
    letter-spacing: 1px;
    width: 100%;
}
.pack{
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 50%;
    background-color: yellow;
    width: 140px;
    height: 137px;
    text-align: center;
    margin-left: 70px;
    position: relative;
    margin-top: 40px;
}
.pack h2{
    margin-top: 37px;
    width: auto;
    height: auto;
}
.pack p{
  margin-bottom: 30px;
  color: #000000;
  font-weight: 500;
}
.card2{
    margin-top: 70px;
    height: 500px;
    width: 300px;
    border-radius: 16px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px black;
    position: relative;
    flex-direction: column;
    color: black;
    background-color: rgb(0, 0, 0);
    transition: color 0.5s;
    border: 2px solid rgba(251 , 255 , 0);
    transition: all .3s ease;
    cursor: pointer;
    animation: pricebox 1.2s infinite alternate;
    }
      /* Adding Hover Effect to card2  */
    .card2:hover {
        box-shadow: 0px 0px 30px rgb(146, 146, 146);
    }
    @keyframes pricebox {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-16px);
        }
      }

    .card2 h1{
        color: white;
        letter-spacing: 1px;
        width: 100%;
        padding-top: 20px;
    }
    .card3{
        margin-top: 70px;
        height: 500px;
        width: 300px;
        border-radius: 16px;
        display: flex;
        text-align: center;
        justify-content: space-around;
        box-shadow: 0px 0px 10px black;
        position: relative;
        flex-direction: column;
        color: black;
        background-color: rgb(0, 0, 0);
        transition: color 0.5s;
        border: 2px solid rgba(251 , 255 , 0);
        transition: all .3s ease;
        cursor: pointer;
        animation: pricebox 1.2s infinite alternate;
        }
         /* Adding Hover Effect to card3  */
        .card3:hover {
            box-shadow: 0px 0px 30px rgb(146, 146, 146);
        }
        @keyframes pricebox {
            0% {
              transform: translateY(0);
            }
            100% {
              transform: translateY(-16px);
            }
          }
        .card3 h1{
            padding-top: 20px;
            color: white;
            letter-spacing: 1px;
            width: 100%;
        }
        .perks{
            display: flex;
            justify-content: space-around;
            height: 100px;
            align-items: center;
            position: relative;
            margin-top: 25px;
        }
        .perks li {
            text-decoration: none;
            color: wheat;
            font-size: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            font-size: 12px;
            margin-top: 4px;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
           
        }
        
        .icons{
            margin-top: 3px;
            font-size: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-right: 20px;
        }
        .Packtext1{
            margin-right: 18px;
        }
        .Packtext3{
            margin-right: 39px;
        }
        .Packtext5{
            margin-right : 12px;
        }
        
        .Packtext6{
            margin-right : 52px;
        }
        .Packtext8{
            margin-right : 38px;
        }
        .Packtext9{
            margin-right : 6px;
        }
        
        .btnn button{
            color: rgb(0, 0, 0);
            background-color: rgb(251, 255, 0);
            outline: 0px;
            border: 2px solid rgba(251 , 255 , 0);
            border-radius: 14px;
            transition: color 0.5s;
            font-size: 13px;
            width:100px;
            height: 30px;
            transition: all .3s ease;
            text-align: center;
            cursor: pointer;
            font-weight: 500;
            margin-bottom: 8px;
        
        }
        .btnn button:hover{
            color:rgba(251 , 255 , 0);
            background: black;
            box-shadow: 0 0 1rem rgba(251 , 255 , 0);
        }
